<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/buffer_builder_demos/src/task1/buffer_builder_task1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="task1.buffer_builder_task1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="buffer_builder_demos"/>
</launchConfiguration>
